#content {
	margin-top: 5px;
	display: block;
}
h2 {
	margin-top: 150px;
	font-size: 32px;
	color: #634C0B;
	font-weight: normal;
	margin-bottom: 100px;
}
@media screen and (max-width: 991px) {
	h2 {
		margin-top: 70px;
		margin-bottom: 50px;
	}
}

.row-first {
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 991px) {
	.row-first {
		flex-flow: column;
	}
}
.wrapper.photo {
	position: relative;
}
.photo-1-block {
	width: 34.649122807017544%;
	img {
		max-width: 100%;
	}
	.photo-2 {
		width: 100%;
		position: absolute;
		display: block;
		right: 0px;
		right: -64.556962025316456%;
    	top: 50%;
    	img {
			max-width: 100%;
		}
	}
}
@media screen and (max-width: 991px) {
	.photo-1-block {
		width: 60.60%;
	}
}
.text-1-block {
	width: 62%;
	padding-top: 63px;
	p {
		font-size: 18px;
		line-height: 24px;
		color: #634C0B;
		text-align: left;
		font-family: "EB Garamond";
	}
}
@media screen and (max-width: 991px) {
	.text-1-block {
		width: 100%;
		p {
			margin-top: 30%;
			margin-bottom: 3rem;
		}
	}
}
.row-second {
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 991px) {
	.row-second {
		flex-flow: column;
		flex-flow: column-reverse;
	}
}
.photo-2-block {
	width: 34.649122807017544%;
	position: relative;
	img {
		max-width: 100%;
	}
	.photo-1 {
		width: 78.481012658227848%;
		position: absolute;
		display: block;
		right: 0px;
    	top: 5;
    	img {
			max-width: 100%;
		}
	}
}
@media screen and (max-width: 991px) {
	.photo-2-block {
		width: 100%;
		.photo-1 {
			position: relative;
			margin: 0 auto;
			width: 60%;
		}
	}

}
.text-2-block {
	margin-top: 30%;
	width: 62%;
	/*padding-top: 63px;*/
	p {
		font-size: 18px;
		line-height: 24px;
		color: #634C0B;
		text-align: left;
		font-family: "EB Garamond";
		padding-right: 22%;
	}
}
@media screen and (max-width: 991px) {
	.text-2-block {
		width: 100%;
		margin-top: 0px;
		p {
			margin-top: 10%;
			margin-bottom: 3rem;
			padding-right: 0px;
		}
	}
}
.vj_responsive_video {
	width: 100%;
	margin-bottom: 150px;
	float: right;
}
h2.duona {
	padding-left: 20.7%;
	font-size: 22px;
	line-height: 44px;
	margin-bottom: 100px;
}
@media screen and (max-width: 991px) {
	h2.duona {
		margin-bottom: 50px;
	}
}
@media screen and (min-width: 991px) {
	.vj_responsive_video {
		width: 79.385964912280702%;
		display: block;
		margin-right: 0px;
		margin-bottom: 150px;
	}
}
@media screen and (max-width: 991px) {
	.text-1-block.text-three p {
		margin-top: 0px;
	}
	.text-2-block.text-four p {
		margin-top: 0px;
	}
}
.text-2-block.text-four {
	margin-top: 50px;
}
.photo-2-block.bread .photo-1 {
	/*position: relative;
	float: right;*/
	top: -100%;
}

/*grikiu blynai*/
.grikiu-blynai .text-1-block.text-three {
	padding-top: 0px;
}
@media screen and (min-width: 1199px) {
	#content {
		background-image: url('../../dist/images/site/logo-bg.svg');
	    background-size: 70%;
	    background-repeat: no-repeat;
	    background-position: 140% 80%;
	}
}

