.swiper-container, .swiper-container-gallery {
  width: 100%;
  height: 518px;
  overflow: hidden;
  margin: 0 auto;
  /*padding: 20px 10px;*/
}
.swiper-container-gallery {
  margin-top: 150px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .swiper-container {
    height: 442px;
  }
}
.swiper-slide {
  background: transparent;
  position: relative;
  .image {
    width: 100%;
    /*height: 62.5%;*/
    padding-top: 100%;
    background-color: transparent;
  }
  .description {
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: transparent;
    color: #634C0B;
    font-size: 18px;
    line-height: 24px;
  }
  .link {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    a {
      color: #634C0B;
      font-size: 18px;
      text-transform: uppercase;
      display: inline-block;
      &::after {
        content: "";

        display: block;
        height: 10px;
        width: 50px;
        margin-top: 10px;
        /*background-color: #634C0B;*/
        border-top: 1px solid #634C0B;
        background-image: none;
        background-position: 101% -3px;
        background-repeat: no-repeat;
        transition: width .3s, opacity .3s linear;
        -webkit-transition: width .3s, opacity .3s;

        opacity: 1;
      }
    }
    a:visited {
      color: #634C0B;
    }
    a:hover {
      color: #634C0B;
      text-decoration: none;
      &::after {
        width: 100%;
        background-image: url(../../dist/images/site/kabliukas.svg);
        opacity: 1;
      }
    }
  }
  &.one .image {
    background-image: url('../../dist/images/site/01_home/duona@2x.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
   &.two .image {
    background-image: url('../../dist/images/site/01_home/grikiu@2x.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
   &.three .image {
    background-image: url('../../dist/images/site/01_home/bulviu@2x.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
   &.four .image {
    background-image: url('../../dist/images/site/01_home/skruzdelynas@2x.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-prev, .swiper-button-next {
    display: none!important;
  }
  .swiper-container .swiper-slide-active {
    background: transparent;
    width: 70% !important;
  }

  .swiper-wrapper {
    overflow: visible;
  }
  .swiper-slide {
    .image {
      height: 220px;
      padding-top: 0px;
    }
  }
}
.swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
  background-image: none;
  top: calc( (62.5% / 2))!important;
}
@media screen and (min-width: 1199px) {
  .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
    margin-top: 0px;
  }
}
.swiper-container-gallery .swiper-button-prev, .swiper-container-gallery .swiper-button-next {
  background-image: none;
  height: 50%!important;
  transform: translate(0, 10px);
}
.swiper-container-gallery .swiper-button-prev {
  padding-left: 10px;
}
.swiper-container-gallery .swiper-button-next {
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .swiper-button-prev, .swiper-button-next {
    top: calc( (220 + 44) / 2 );
  }
}
.swiper-button-prev::after {
    content: '\e87e';
    font-family: eicons;
    font-weight: 400;
    font-size: 24px!important;
    color: rgba(238, 238, 238, 0.9);
}
.swiper-button-next::after {
    content: '\e87d';
    font-family: eicons;
    font-weight: 400;
    font-size: 24px!important;
    color: rgba(238, 238, 238, 0.9);
}
.lg-backdrop {
  opacity: 0.8!important;
}

.link_specpage {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 50px;
    padding-right: 15px;
    height: auto;
    position: relative;
    background-color: transparent;
    a {
      color: #634C0B;
      font-size: 18px;
      text-transform: uppercase;
      display: inline-block;
      &::after {
        content: "";

        display: block;
        height: 10px;
        width: 50px;
        margin-top: 10px;
        /*background-color: #634C0B;*/
        border-top: 1px solid #634C0B;
        background-image: none;
        background-position: 101% -3px;
        background-repeat: no-repeat;
        transition: width .3s, opacity .3s linear;
        -webkit-transition: width .3s, opacity .3s;

        opacity: 1;
      }
    }
    a:visited {
      color: #634C0B;
    }
    a:hover {
      color: #634C0B;
      text-decoration: none;
      &::after {
        width: 100%;
        background-image: url(../../dist/images/site/kabliukas.svg);
        opacity: 1;
      }
    }
  }

  .rugine-duona .swiper-container-gallery .swiper-slide {
    &.one .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_1515.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     &.two .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_1779.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     &.three .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_1838.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.four .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_1960.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.five .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_2004.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.six .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_2118.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.seven .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_2135.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.eight .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_2163.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.nine .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_2252.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.ten .image {
      background-image: url('../../dist/images/site/02_duona/galerija/IMG_2275.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .grikiu-blynai .swiper-container-gallery .swiper-slide {
    &.one .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_7708.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     &.two .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_7712.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     &.three .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_7716.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.four .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_7726.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.five .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_7918.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.six .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_7962.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.seven .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_8074.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.eight .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_8143.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.nine .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_8190.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.ten .image {
      background-image: url('../../dist/images/site/03_grikiu/galerija/IMG_8232.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .bulviniai-blynai .swiper-container-gallery .swiper-slide {
    &.one .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_7583.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     &.two .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_7677.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     &.three .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_7759.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.four .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_7819.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.five .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_8090.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.six .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_8109.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.seven .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_8132.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.eight .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_8165.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.nine .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_8204.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.ten .image {
      background-image: url('../../dist/images/site/04_bulviniu/galerija/IMG_8250.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .skruzdelynas .swiper-container-gallery .swiper-slide {
    &.one .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_0501.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     &.two .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_0568.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     &.three .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_0677.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.four .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_0810.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.five .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_1061.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.six .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_1091.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.seven .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_1245.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.eight .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_1408.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.nine .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_1620.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.ten .image {
      background-image: url('../../dist/images/site/05_skruzdelynas/galerija/IMG_1657.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }