@import 'bootstrap';
@import 'swiper';
@import 'sticky_pointer';
@import 'header';
@import 'page';
@import 'footer';
@import '../../node_modules/lightgallery.js/dist/css/lightgallery.css'; 

$backdrop-opacity: 0.8;

html {

	font-family: "EB Garamond";
	min-height: 100%;
}
body {

}

html, body {
	width: 100%;
	height: 100%;
}