.vj_cursor_animate * {
	cursor: none!important;
}
#js-pointer {
    left: -833px;
    top: -381px;
	overflow: hidden;
    width: 75px;
    height: 75px;
    position: fixed;
    z-index: 9999;
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    background: #fff;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%) scale(0.4);
    transition: transform .5s cubic-bezier(.19, .94, .336, 1), -webkit-transform .5s cubic-bezier(.19, .94, .336, 1);
}

@media screen and (max-width: 991px) {
    #js-pointer {
        display: none;
    }
    .vj_cursor_animate * {
        cursor: initial!important;
    }
}